<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='jscolor.min.js') }}"></script>
    <title>{{ title }}</title>
</head>
<body>
<h1>{{ title }}</h1>
<h2>Message</h2>
<form action="/message" method="POST">
<input type="text" name="message"/>
<input class="jscolor" name="color"/>
<input type="submit"/>
</form>
<h2>Humidity</h2>
{{ humidity }} %rH
<h2>Temperature</h2>
{{ temperature }} C
<h2>Temperature from Humidity</h2>
{{ temperature_from_humidity }} C
<h2>Temperature from Pressure</h2>
{{ temperature_from_pressure }} C
<h2>Pressure</h2>
{{ pressure }} Millibars
</body>
</html>
